body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.navbar i{
    padding: 0.5em;
}

.navbar i:hover{
    background-color: #EDF1D6;
    color: #40513B;
    cursor: pointer;
}

.brand-name{
    font-family: 'Anton', sans-serif;
    color:#1A4D2E;
}

.category-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-area button{
    background-color: white;
    border: none;
    padding: 0.5em;
    margin: 0 0.5em;
}

.category-area button:hover{
    background-color: #EDF1D6;
}

#search-input{
    border: none;
    border-bottom:1px solid lightgray;
}
#search-input:focus{
    outline: none;
}

.login-area span{
    padding: 0 0.5em;
}

.login-area span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-img-box{
    overflow: hidden;
}

.card-img{
    height: 280px;
    object-fit: cover;
    transition: 0.3s;
}

.card-img:hover{
    transform: scale(1.2);

}


.card-body-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.card-text-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
} 

.card-text-area{
    color: gray;
    margin-top: 10px;
}

.card-title-area a{
    color:black;
    text-decoration: none;
}

.card-title-area a:hover{
    text-decoration: underline;
    color: #1A4D2E;
}

.page-nav{
    margin-top: 16px;
}

.page-ul{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 991px){
    .login-area  {
        display: none;
    }   
}

@media screen and (max-width: 575.2px){
    .login-area  {
        display: none;
    }   

    .brand-name{
        margin-top: 1em;
    }

}

@media screen and (max-width: 48em){
    .login-area  {
        display: none;
    }   

    .brand-name{
        margin-top: 1em;
    }
    
}
